body{
    background-color: rgb(50, 111, 154);
  
   }
  
  .box{
    border:10px solid grey;
    padding:20px;
    width:50%;
   height: 550px;
    margin:auto;  
    background-color: rgb(203, 226, 242);
  }
  .box2{
    
    width:50%;
    margin:auto;
  }
  
  input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text], textar,input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;

    padding: 20px;
  }
  
  .firstname{
    width:100%
  }ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid grey
  }
  li{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  .icon{
    display: flex;
    justify-content: space-between;
    width: 50px;
  }
  .line-through{
  text-decoration: line-through;
  color:#45a049;
  }
  .red{
    color: red;
  }
  .blue{
    color: blue;
  }
  .green{
    color: yellowgreen;
  }
  textarea{
    text-align: center;
  }
  .fname{
    text-align: end;
  }
  .fa-trash{
    color: #45a049;
  }
  .fa-trash:hover{
    color: red;
  }
  .red{
color: red;
  }
  .green{
    color: green;
  }