body{ 
    text-align: center;
}


.header{
    background-color: rgb(17, 69, 85);
    color: white;
  
   height: 50px;
   line-height: 50px;
   
    
}

.container{
    background-color: rgba(110, 216, 248, 0.466) ;
    width: 50%;             
    margin: auto;
    padding-bottom: 30px;
}
.output{
    border:2px solid rgb(15, 15, 15);
    width: 50%;
    margin: auto;
    padding-top: 2px;
background-color:rgb(248, 245, 245) ;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .fa-trash{
      color: red;
  }
  .fa-trash:hover {background-color: #931cca; /* Green */
    color: white;

  }
  button{
      
      background-color: #e7e7e7; color: black;
      padding: 12px 40px;
     
  }
  button:hover {
    background-color: #1cca21; /* Green */
    color: white;
  }